<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Biological artifacts</string>
		<key>date</key>
		<string>2017 AD</string>
		<key>title</key>
		<string>Baby figures</string>
		<key>imageFileNameBase</key>
		<string>C4</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Biological artifacts</string>
		<key>date</key>
		<string>2017 AD</string>
		<key>title</key>
		<string>A man figure</string>
		<key>imageFileNameBase</key>
		<string>C5</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Biological artifacts</string>
		<key>date</key>
		<string>2017 AD</string>
		<key>title</key>
		<string>A bird model</string>
		<key>imageFileNameBase</key>
		<string>C6</string>
	</dict>
</array>
</plist>
