<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Medical artifacts</string>
		<key>date</key>
		<string>1848 AD</string>
		<key>title</key>
		<string>Fetal skeleton, human skull, and a 14-inch hairball</string>
		<key>imageFileNameBase</key>
		<string>C1</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Medical artifacts</string>
		<key>date</key>
		<string>1848 AD</string>
		<key>title</key>
		<string>Fetal skeleton and human skull</string>
		<key>imageFileNameBase</key>
		<string>C2</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Medical artifacts</string>
		<key>date</key>
		<string>1848 AD</string>
		<key>title</key>
		<string>Fetal skeletons</string>
		<key>imageFileNameBase</key>
		<string>C3</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Biological artifacts</string>
		<key>date</key>
		<string>2017 AD</string>
		<key>title</key>
		<string>Baby figures</string>
		<key>imageFileNameBase</key>
		<string>C4</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Biological artifacts</string>
		<key>date</key>
		<string>2017 AD</string>
		<key>title</key>
		<string>A man figure</string>
		<key>imageFileNameBase</key>
		<string>C5</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Biological artifacts</string>
		<key>date</key>
		<string>2017 AD</string>
		<key>title</key>
		<string>A bird model</string>
		<key>imageFileNameBase</key>
		<string>C6</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Medical artifacts</string>
		<key>date</key>
		<string>1800 AD</string>
		<key>title</key>
		<string>An anatomical model of the human skull</string>
		<key>imageFileNameBase</key>
		<string>C8</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Medical artifacts</string>
		<key>date</key>
		<string>1820 AD</string>
		<key>title</key>
		<string>The wax anatomical model of a woman
</string>
		<key>imageFileNameBase</key>
		<string>C9</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Medical and scientific artifacts
Medical and scientific artifacts</string>
		<key>date</key>
		<string>1800 AD</string>
		<key>title</key>
		<string>Medical and scientific instruments
</string>
		<key>imageFileNameBase</key>
		<string>C11</string>
	</dict>
</array>
</plist>
